
.main{
    height: 100vh;
}
.batch{
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(126, 111, 85);
}

.batch-item{
    width: 10%;
    text-align: center;
    margin-left: 3%;
    background-color: grey;
    border-radius: 20px 30px;
    padding: 10px 20px;
}
.batch-item:hover{
    transform: scale(1.3);
    /* background-color: transparent; */
}
.ani-main{
    position: relative;
    background-color: rgb(6, 90, 90);
    margin: 0;
    padding: 1px;
    height: 90vh;
    z-index: -2;
}
.animation1{
    background-color: white;
    margin-top: 50px;
    position: relative;
    background-image: -webkit-linear-gradient(rgb(56, 4, 4),rgb(205, 207, 205),rgb(97, 97, 107));
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
 
.animation1::after,.animation1::before {
    content: "";
    background-image: conic-gradient(from var(--angle),transparent 80%,red,blue);
    width: 101%;
    height: 102%;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: -1;
    padding: 20px;
    animation: 2s spin infinite;
}

@keyframes spin {
    from{
        --angle:0deg
    }to{
        --angle:360deg
    }
}
.animation1::before{
    filter: blur(1.5rem) opacity(0.7);
}